.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}


.app-wrapper {
  margin: 0 auto;
  width: 1000px;

  display: grid; /* set that all the first level children have behavior as grid-elements */ 

  grid-template-areas: "h h" "n c";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;

}